*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}

/* Global style */

html{
}

body{
background-image: url(../media/79b2da85a7524ef607b76876f9cb7a03.jpg);
background-size: cover 
;

}

/* Header, navbar */

.navbar-color{
    background-color:  #ff0000;
    background-image: url(../media/geometric-abstract-background-oblique-lines-on-a-white-background-gradient-white-and-gray-2d-illustration-free-vector.jpg);
    background-size: cover;
}

.navbar-brand{
    color: rgb(0, 0, 0);
}

.navbar-brand-icon{
    height: 50px;
}

.navbar-brand:hover{
    color: rgb(255, 0, 0);
}

.btn-primary{
    background-color: #ffffff ;
    color: #000000;
}

.btn-primary:hover{
    background-color: #ff0000   ;
    color: #000000bd;
    border: 1px solid #000000 ;
}

.navbar-nav{
    display: flex;
    flex-direction: row-reverse;
}

#UserLogId{

    margin: 10px;
    font-size: larger;
    color: rgb(0, 0, 0);
}

/* Main section */

.main-section{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0;
}

.main-section-write-card , .main-section-presentation-card{
    color: rgb(0, 0, 0);
    background-color: #b1b1b1 ;
    border-radius: 0;
    margin: 10px;
    padding: 10px;
}

.main-section-read-container{
    color: rgb(0, 0, 0);
    
    border-radius: 0;
    margin: 10px;
    min-height: 150px;
}

#textoForoId{
    min-height: 100px ;

}

/* mensajes */

.post{

    background-color:       #b1b1b1  ;
    color:   rgb(0, 0, 0) ;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* footer */

/*footer{
    background-color:   #09530c   ;
    position: fixed;
    bottom: 0;
    color: rgb(255, 255, 255);
}

.bi:hover{
    cursor: pointer;
}*/



.col-login{
    margin-top: 10px;
    padding: 10px;
    background-color:   #b1b1b1 ;
    color: rgb(0, 0, 0);
}
.col-register{
    margin-top: 10px;
    padding: 10px;
    background-color:    #b1b1b1 ;
    color:  #000000;
}

